#point {
  border: 2px solid red;
  border-radius: 1px;
  position: absolute;
}

#test {
  background-color: #fff;
  border-radius: 4px;
  z-index: 100;
}

#points {
  border: 1px solid black;
  width: 100%;
  margin-left: -400px;
}

#points tbody > tr > td {
  border: 1px solid green;
  padding: 5px;
}

#points thead > tr > td {
  border: 1px solid red;
  padding: 5px;
}

td.query {
  border: 1px solid green;
}
.red {
  color: red;
}
#points thead > tr > td.total {
  border: 2px solid black;
  color: purple;
}

#frTable {
  border: 1px solid black;
}

#frTable tbody > tr > td {
  border: 1px solid green;
}

#frTable tbody > tr > td.fr-highlighted {
  border: 1px solid red;
}

#frTable tbody > tr > td.fr-thick {
  border: 1px solid purple;
}

#frTable tr.data td {
  border: 1px solid blue;
  height: 20px;
}