<div class=".mui--appbar-height">&nbsp;</div>
<div class="mui-row">
  
  <div id="main" class="mui-col-md-8 mui-col-md-offset-2 mui--divider-bottom">

    <!-- A4 -->
      <div class="mui-col-md-3">
        <div class="mui-panel mui--z2">
          
          <div class="mui-panel mui--z1" style="padding: 0px;">
            <a class="documentId animated paperBlink ">
              <img src="assets/img/doc.png" style="width: 100%">
            </a>
          </div>

          <div class="mui-divider"></div>
          <div class="mui-col-md-2 ">
            <div class="mui--text-display1 mui--text-accent" style="margin: 2px -10px;">
              <i class="fa fa-file-pdf-o "></i>
            </div>
          </div> 
          <div class="mui-col-md-8">
            <div class="documentTitle mui--text-body2"></div>
            <div class="documentDate mui--text-menu mui--text-black-26 "></div>
          </div>
          <div class="mui-col-md-2" style="margin: 2px -10px;">
            <div class="mui-dropdown">
              <button class="mui-btn mui-btn--raised ellips " data-mui-toggle="dropdown">
                
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="mui-dropdown__menu mui-dropdown__menu--right mui--z3">
                <li><a href="#">Option 1</a></li>
                <li><a href="#">Option 2</a></li>
                <li><a href="#">Option 3</a></li>
                <li><a href="#">Option 4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <!-- A4 -->

  </div>
  <div class="mui-col-md-10 mui-col-md-offset-1">
    test
  </div>


</div>

<button class="mui-btn mui-btn--accent mui-btn--fab AddDocument mui--z3">+</button>